/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail
/vendor
.env
.env.*
!/env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
# Lint/Type check results
check_results.txt
.aider*
# ws-lab
/storage/app/ws-lab
/storage/app/ws-lab.pid
/cmd/ws-lab/go.sum
/cmd/ws-lab/ws-lab
/tmp/
